<br/>
<br/>
<br/>
Package Uploader
<br/>
<br/>

<hr />
<%= form_for(@upload, :html => { :multipart => true }) do |f| %>
  <p>
    <%= f.label :File %>
    <%= f.file_field :upload %>
    <%= f.submit 'Submit' %>
  </p>
<% end %>
